* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  overflow: scroll;
  font-size: 1.7em;
}

header {
  background: #25292E;
  min-height: 100px;
  color: white;
  display: flex;
  align-items: center;
}

.github-logo {
  fill: white;
  margin-left: 0.5em;
}

header ul li {
  display: inline-block;
  /* for lists to be displayed in a row */
  margin: 0.5em;
  cursor: pointer;
}

header ul li:hover {
  opacity: 0.7;
}

header input {
  font-size: 0.5em;
  background: #404448;
  padding: 0.5em;
  padding-right: 10em;
  border: none;
  border-radius: 0.2em
}

main {
  display: flex;
}

aside, section {
  border: 2px solid red;
  display: inline-block;
}

aside {
width: 30%;
display: inline-block;
padding: 1em;
}

section {
  width: 70%;
}



img {
  border-radius: 0.5em;
  width: 100%;
}

.grey-text {
  color: #666666;
}

.username {
  font-weight: inherit;
}

p {
  padding-top: 1em;
}

h3 {
  padding-top: 1em;
}
